body {
    margin: 0;
    font-family: 'Sora', sans-serif;
    font-size: 15px;
    color: rgb(0, 0, 0);
}

.container {
    margin: 0;
}

#header-nav {
    background-color: slategrey;
    border-radius: 0;
    border: 0;
}

#nav-list a {
    text-align: center;
}

.navbar-brand {
    margin: 0;
    padding-bottom: 25px;
}

.navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
}

#header-nav button.navbar-toggle, #header-nav .icon-bar {
    border: 1px solid rgb(53, 49, 49);
}

#header-nav button.navbar-toggle {
    clear: both;
}

#nav-list a {
    color: rgb(5, 5, 5);
}

#collapsable-nav a {
    font-size: 20px;
    background-color: rgb(242, 245, 206);
    border: 1px solid black;
}

.col-xs-12 {
    height: 1000px;
}

.navbar-title {
    margin: 0;
    color: rgb(230, 225, 168);
}


.content-title {
    margin: 0px;
    
    font-size: 1.5em;
    text-align: center;
    color: rgb(29, 24, 24);
}

.content {
    margin: 20px;
    padding: 10px;
    background-color: rgb(230, 225, 168);
    border: 1.5px solid black;
    box-sizing: border-box;
    overflow: hidden;
    float: left;
    position: relative;
}


.text {
    font-size: 18px;
    margin-top: 20px;
}



